extends layout

block content
    .modal.fade#deleteCatModal(role='dialog')
        .modal-dialog(role='content')
            .modal-content
                .modal-header
                    .modal-title
                        h4 Are you sure?
                .modal-body
                    p Are you sure you want to delete this category?
                    .form-row
                        .col.text-right
                            a.btn.btn-outline-danger.btn-sm.mr-1(role='button' href=`/inventory/category/${catId}/delete`) Delete
                            a.btn.btn-outline-secondary.btn-sm(role='button' data-dismiss='modal') Cancel
    
    h1= title.toUpperCase()

    if !displayCategory
        hr
        .row
            .col-12
                p #[strong Description]: #{catDesc}
            .col-12.text-right
                button#deleteCatBtn.btn.btn-danger(role='button') Delete
                a#deleteCatBtn.btn.btn-warning.ml-2(role='button' href=`/inventory/category/${catId}/update`) Update
        
            if errMess
                p.text.text-danger= errMess

    hr

    if !items_list.length
        h List of items is empty. D:
    else
        .container-fluid
            - function selector(value){ return (value === sortVal) ? 'selected' : false }
            .row
                .col-12
                    form(method='POST' action='' id='sort-form' style='float: right; display: inline; margin-bottom: 50px')
                        .form-row
                            label(for='sort-by') Sort by: 
                            select(name='sortby' id='sorter' style='margin: 0 5px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.2); padding: 3px')
                                option(value='name' selected=selector('name')) Name
                                option(value='price' selected=selector('price')) Price
                                option(value='number_in_stock' selected=selector('number_in_stock')) Number in Stock
                                if displayCategory
                                    option(value='category' selected=selector('category')) Category
                            button.btn.btn-warning(type='submit' style='padding: 3px 6px') Go!

                .col-12
                    table.col-sm-12.table(style='display: inline')
                        tr
                            th ITEM
                            th PRICE (Php)
                            th NUMBER IN STOCK
                            if displayCategory
                                th CATEGORY
                        each item in items_list
                            tr
                                td
                                    a(href=item.url)= item.name
                                td(style='text-align: center')= item.price
                                td(style='text-align: center')= item.number_in_stock
                                if displayCategory    
                                    td
                                        a(href=item.category.url)= item.category.name
    
 
        